node_modules
/node_modules

# Ignore dependencies
node_modules/
# You don't need to specify `/node_modules` again because the first entry covers it.

# Ignore the Next.js build output
.next/

# Ignore specific cache within .next
# (This is redundant since .next/ already ignores the cache, but you can keep it for clarity)
.next/cache

# Ignore log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output
dist/
build/
out/

# Ignore environment variables
.env
.env.local
.env.*.local
.env.development
.env.production
invoice-manager-app
invoice-key

# Ignore MacOS system files (if you're on a Mac)
.DS_Store

# Ignore IDE settings (optional)
.vscode/
.idea/
